#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
	bindings = <
	    &kp ESC     &kp Q    &kp W    &kp E     &kp R      &kp T     &bootloader
	    &none       &kp A    &kp S    &kp D     &kp F      &kp G     &sys_reset
	    &none       &kp Z    &kp X    &kp C     &kp V      &kp B     &none
	    &none       &none    &none    &none     &none      &kp ENTER &kp SPACE

	    &none       &kp Y    &kp U    &kp I     &kp O      &kp P     &bootloader
	    &none       &kp H    &kp J    &kp K     &kp L      &none     &none
	    &none       &kp N    &kp M    &none     &none      &none     &sys_reset
	    &none       &none    &none    &none     &none      &none     &none
	>;
        };
    };
};